<div class="container px-5 px-sm-0">
  <div id="error_explanation">
    <% if @book.errors.any? %>
    <h3><%= @book.errors.count %> error prohibited this obj from being saved:</h3>
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <div class="row">
    <%= render 'books/list', user: current_user, book: @book %>
    <div class="col-md-8 offset-md-1">
      <h2>Books</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
        <% @books.each do |book| %>
          <tr>
            <td>
              <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image(40,40) %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(book.id) do %>
                <%= book.title %>
              <% end %>
            </td>
            <td><%= book.body %></td>
            <td><%= link_to "コメント数: #{book.book_comments.count}", book_path(book.id) %></td>
            <td>
              <% if book.favorited_by?(current_user) %>
                <%= link_to book_favorites_path(book), method: :delete do %>
                  <span class="heartCount"><i class="fas fa-heart"></i><%= book.favorites.count %></span>
                <% end %>
              <% else %>
                <%= link_to book_favorites_path(book), method: :post do %>
                  <span class="heartUncount"><i class="fas fa-heart"></i><%= book.favorites.count %></span>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
